.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #000000;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 30px 15px;
  }
}
.freeBox__iPbr9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__iPbr9 {
    padding: 27px 30px 34px 27px;
  }
}
.freeBox__djlbQ {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-4RD86nufb8dzu2);
  width: 100%;
  min-width: 0;
  padding: var(--token-c1OCIgOSpbRwWH);
}
.freeBox__djlbQ > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__djlbQ > :global(.__wab_flex-container) > *,
.freeBox__djlbQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__djlbQ > :global(.__wab_flex-container) > picture > img,
.freeBox__djlbQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__djlbQ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__djlbQ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__djlbQ > :global(.__wab_flex-container) > *,
  .freeBox__djlbQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__djlbQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__djlbQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__sbWx {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__sbWx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__sbWx > :global(.__wab_flex-container) > *,
.freeBox__sbWx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sbWx > :global(.__wab_flex-container) > picture > img,
.freeBox__sbWx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__inA6K {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__inA6K > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__inA6K > :global(.__wab_flex-container) > *,
.freeBox__inA6K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__inA6K > :global(.__wab_flex-container) > picture > img,
.freeBox__inA6K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h3__xVanq {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-EF4lX49EXCUNOO);
  margin-top: calc(0px + 15px) !important;
}
.text__wquaA {
  color: var(--token-EF4lX49EXCUNOO);
}
.text___86KCn {
  color: var(--token-EF4lX49EXCUNOO);
}
.freeBox__p5ARo {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__p5ARo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__p5ARo > :global(.__wab_flex-container) > *,
.freeBox__p5ARo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p5ARo > :global(.__wab_flex-container) > picture > img,
.freeBox__p5ARo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__jCyPs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___8Yx5J {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-peucSzc2LPl5xo);
  flex-shrink: 0;
}
.link__khjNv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__jtHny {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-peucSzc2LPl5xo);
  flex-shrink: 0;
}
.link__cm30R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__sS4Je {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-peucSzc2LPl5xo);
  flex-shrink: 0;
}
.freeBox__yNnx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__yNnx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yNnx > :global(.__wab_flex-container) > *,
.freeBox__yNnx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yNnx > :global(.__wab_flex-container) > picture > img,
.freeBox__yNnx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3___2Yhu4 {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-EF4lX49EXCUNOO);
  padding-bottom: 0px;
  margin-top: calc(0px + 16px) !important;
}
.link___85Edm {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link___85Edm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___85Edm > :global(.__wab_flex-container) > *,
.link___85Edm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___85Edm > :global(.__wab_flex-container) > picture > img,
.link___85Edm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___1E1Jj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hhua1 {
  color: var(--token-EF4lX49EXCUNOO);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg___5TYCv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__mbRkr {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__mbRkr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__mbRkr > :global(.__wab_flex-container) > *,
.link__mbRkr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__mbRkr > :global(.__wab_flex-container) > picture > img,
.link__mbRkr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__iuv7Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__m0Jf2 {
  color: var(--token-EF4lX49EXCUNOO);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__sBgI3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox___4Kw72 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___4Kw72 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___4Kw72 > :global(.__wab_flex-container) > *,
.freeBox___4Kw72 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Kw72 > :global(.__wab_flex-container) > picture > img,
.freeBox___4Kw72
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__r8790 {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-EF4lX49EXCUNOO);
  height: auto;
  margin-top: calc(0px + 16px) !important;
}
.link__gnVlI {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__gnVlI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__gnVlI > :global(.__wab_flex-container) > *,
.link__gnVlI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__gnVlI > :global(.__wab_flex-container) > picture > img,
.link__gnVlI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__c39Ww {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__tT5Th {
  color: var(--token-EF4lX49EXCUNOO);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
}
.svg___0DckA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__d5WnU {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__d5WnU > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__d5WnU > :global(.__wab_flex-container) > *,
.link__d5WnU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__d5WnU > :global(.__wab_flex-container) > picture > img,
.link__d5WnU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__dCsE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__dnNh {
  color: var(--token-EF4lX49EXCUNOO);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
}
.svg__rsRw2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
